{% extends "app/layout.html" %} 

{% block content %}
{% load staticfiles %}
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
{% for post in posts %}
				<article>
					<div class="post-image">
						<div class="post-heading">
                            <h3>
{% if post.is_top %}
                                <span class="btn btn-small btn-info">
                                    <i class="fa fa-flash"></i>置顶</span>							
{% endif %}
                                <a href="/post/{{ post.link }}.html">{{ post.title }}</a>
                            </h3>
						</div>
						<!--<img src="{% static 'app/img/dummies/blog/img1.jpg' %}" alt="" />-->
					</div>
					<p>{{ post.snippet }}</p>
					<div class="bottom-article">
						<ul class="meta-post">
							<li><i class="fa fa-calendar"></i><a href="#">{{ post.publish_time }}</a></li>
							<li><i class="fa fa-user"></i><a href="#">{{ post.author }}</a></li>
							<li><i class="fa fa-folder-open"></i><a href="#">{{ post.category }}</a></li>
							<li><i class="fa fa-comments"></i><a href="#">{{ post.access_count }} Comments</a></li>
						</ul>
						<a href="/post/{{ post.link }}.html" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
					</div>
				</article>
{% endfor %}
				<div id="pagination">
					<span class="all">Page {{ pageIndex }} of {{ PageCount }}</span>
{% for page in pages %}
{% ifequal page pageIndex %}
                    <span class="current">{{ page }}</span>
{% else %}
                    <a href="?p={{ page }}" class="inactive">{{ page }}</a>
{% endifequal  %}
{% endfor %}
				</div>
			</div>
			<div class="col-lg-4">
				<aside class="right-sidebar">
				<div class="widget">
					<form class="form-search">
						<input class="form-control" type="text" placeholder="Search..">
					</form>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Categories</h5>
					<ul class="cat">
{% for cat, count in cats.items%}
						<li><i class="icon-angle-right"></i><a href="#">{{ cat }}</a><span> ({{ count }})</span></li>
{% endfor %}
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="recent">
						<li>
						<img src="{% static 'app/img/dummies/blog/65x65/thumb1.jpg' %}" class="pull-left" alt="" />
						<h6><a href="#">Lorem ipsum dolor sit</a></h6>
						<p>
							 Mazim alienum appellantur eu cu ullum officiis pro pri
						</p>
						</li>
						<li>
						<a href="#"><img src="{% static 'app/img/dummies/blog/65x65/thumb2.jpg' %}" class="pull-left" alt="" /></a>
						<h6><a href="#">Maiorum ponderum eum</a></h6>
						<p>
							 Mazim alienum appellantur eu cu ullum officiis pro pri
						</p>
						</li>
						<li>
						<a href="#"><img src="{% static 'app/img/dummies/blog/65x65/thumb3.jpg' %}" class="pull-left" alt="" /></a>
						<h6><a href="#">Et mei iusto dolorum</a></h6>
						<p>
							 Mazim alienum appellantur eu cu ullum officiis pro pri
						</p>
						</li>
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Popular tags</h5>
					<ul class="tags">
{% for tag in tags %}
						<li><a href="#">{{ tag }}</a></li>
{% endfor %}
					</ul>
				</div>
				</aside>
			</div>
		</div>
	</div>
</section>

{% endblock %}
