{% extends "app/layout.html" %}

{% block breadcrumb %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/posts">Posts</a><i class="icon-angle-right"></i></li>
                        <li class="active">{{ post.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
	</section>

{% endblock %}

{% block content %}
{% load staticfiles %}
<section id="content">
<div class="container">
    <div>
        <h2>{{ post.title }}</h2>
        <div class="bottom-article">
            <ul class="meta-post">
                <li><i class="fa fa-calendar"></i><a href="#">{{ post.publish_time }}</a></li>
                <li><i class="fa fa-user"></i><a href="#">{{ post.author }}</a></li>
                <li><i class="fa fa-folder-open"></i><a href="/posts?cate={{ post.category.id }}">{{ post.category }}</a></li>
                <li><i class="fa fa-comments"></i><a href="#">{{ post.access_count }} Comments</a></li>
            </ul>
        </div>
    </div>
	<div class="row">
	    <div class="col-lg-8">
			<article id="post-108" class="post-108 post type-post status-publish format-standard hentry category-blog tag-blog tag-general tag-post">
{% autoescape off %}
{{ post.content }}
{% endautoescape %}
	        </article>
{% load duoshuo_tags %}
{% duoshuo_comments %}
        </div>
	</div>
</div>
</section>

{% endblock %}


